[flake8]
ignore = E203, E266, E501, W503, F403, F401
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude =
    .git,
    __pycache__,
    *migrations*

[pep8]
max_line_length = 120
exclude = *migrations*

[pycodestyle]
max_line_length = 120
exclude = *migrations*
